
html {
    border     : none;
    margin     : 0;
    padding    : 42px;
    text-align : center;
    color      : #1F1F1F;
    background : #F1F1F1;
}

body {
    box-sizing : content-box;
    border     : 1px dotted gold;
    border-radius : 20px;
    margin     : 0;
    padding    : 20px;
    text-align : center;
    color      : #F1F1F1;
    background : #0F0F0F;
}

pre {
    text-align : left;
    padding    : 10px;
    color      : mintcream;
}

pre, pre *, pre > * {
    background : #F1F1F1 !important;
}

