[Desktop Entry]

Version=1.0
Type=Application
Terminal=false

Name=QB64
Exec=/home/dave/Apps/qb64/qb64
Icon=/home/dave/Icons/logo/qb64.png

# qb64.desktop


