[Desktop Entry]

Version=1
Type=Application
Terminal=false

Name=QB64 Phoenix
Exec=/home/dave/Apps/qb64pe/qb64pe
Icon=/home/dave/Icons/logo/qb64pe.png

[NCS]
group=BASIC
filename=qb64pe.desktop

