[Desktop Entry]

Version=1.0
Type=Application
Terminal=false

Name=Key Magic
Icon=/home/dave/Icons/logo/key-magic.png
Exec=firefox http://dave-legacy/dot/km/key-magic.html

[NCS]

# Filename : key-magic.desktop
# [Explore](./)
# [Desktop](file:///home/dave/Desktop/)
# [Templates](file:///home/dave/Templates/)


