[Desktop Entry]

Version=1.0
Type=Application
Terminal=false

Name=Mark-Ed Live
Icon=/home/dave/Icons/logo/mark-ed.png
Exec=firefox https://markdowneditor.org

[NCS]

Filename=mark-ed.desktop

# [Explore](./)
# [Desktop](file:///home/dave/Desktop/)
# [Templates](file:///home/dave/Templates/)


