[Desktop Entry]

Version=1.0
Type=Application
Terminal=false

Name=McCloud
Icon=/home/dave/Icons/logo/mccloud.png
Exec=firefox http://dave-legacy/mccloud/

[NCS]

Filename=mccloud.desktop

# [Explore](./)
# [Desktop](file:///home/dave/Desktop/)
# [Templates](file:///home/dave/Templates/)

