[Desktop Entry]

Version=1.0
Type=Application
Terminal=false

Name=Ports Exposed ~ Legacy
Icon=/home/dave/Icons/logo/zeek.png
Exec=firefox http://dave-legacy/app/zeek/art/ports-exposed.png

[NCS]

Filename=ports-exposed.desktop
Volume=ZEEK

# [Explore](./)
# [Desktop](file:///home/dave/Desktop/)
# [Templates](file:///home/dave/Templates/)


